## Lists
### ordered sequences that can hold variety of data
### use [ ] bracket to store values
### Support indexing and slicing 
### Lists are Mutable and can store Duplicate Value

In [1]:
num = [1,2,3,4,5]

In [2]:
num

[1, 2, 3, 4, 5]

In [3]:
num = [1,2, "STRING", 3.23]

In [4]:
num

[1, 2, 'STRING', 3.23]

In [5]:
len(num)

4

In [6]:
my_list = ["one", "two", "three"]

In [7]:
my_list[0]

'one'

In [8]:
my_list[1:]

['two', 'three']

In [9]:
another_list = ["four", "five"]

In [10]:
my_list + another_list

['one', 'two', 'three', 'four', 'five']

In [11]:
new_list = my_list + another_list

In [12]:
new_list

['one', 'two', 'three', 'four', 'five']

In [13]:
new_list[0] = "ONE ALL CAPS"

In [14]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [15]:
new_list.append("six") # Add element to end of the list

In [16]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [17]:
new_list.append("seven")

In [18]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [19]:
new_list.pop()  # Remove 1 item from end of the list, -1 is default index

'seven'

In [20]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [22]:
new_list.pop(0)  # Remove element from particuar index

'ONE ALL CAPS'

In [23]:
new_list

['two', 'three', 'four', 'five', 'six']

In [24]:
new_list.sort()  # Sort in alphabatical letter, doesnot return anything

In [25]:
new_list

['five', 'four', 'six', 'three', 'two']

In [26]:
new_list.reverse()  # Reverse the list

In [27]:
new_list

['two', 'three', 'six', 'four', 'five']

### Nested List

In [28]:
num_list = [1,2,3,[4,5,6]]

In [31]:
num_list[3][1]

5

### Sort the list

In [1]:
new_list = [1,5,-1,0,6,4,8,3,9]

In [3]:
new_list

[1, 5, -1, 0, 6, 4, 8, 3, 9]

In [4]:
sorted(new_list)  # Does not change the original list values but sorts them

[-1, 0, 1, 3, 4, 5, 6, 8, 9]

In [5]:
new_list

[1, 5, -1, 0, 6, 4, 8, 3, 9]

In [6]:
new_list.sort()  # Sorts the list and performs operation on original list

In [7]:
new_list

[-1, 0, 1, 3, 4, 5, 6, 8, 9]