## Assignment

#### Use for, split(), and if to create a statement that will print words starting with s in a line

In [7]:
st = "Sam, Print only the words that start with s in this sentence"

In [8]:
st

'Sam, Print only the words that start with s in this sentence'

In [9]:
for word in st.split():
    if word[0].lower() == 's':
        print(word)

Sam,
start
s
sentence

#### Use range() to rint even numbers from 0 to 10

In [12]:
for num in range(0,11,2):
    print(num, end="\t")

0	2	4	6	8	10

#### Use list comprehension to create list of all numbers between 1 to 50 that are divisible by 3

In [13]:
div_3_list = [x for x in range(1,51) if x % 3 == 0]

In [14]:
div_3_list

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

#### Go through the string below, if the length of the word is even print "EVEN"

In [15]:
st = "Print every word in this sentence that has an even number of letters"

In [17]:
for word in st.split():
    if len(word) % 2 == 0:
        print(f"\"{word}\" is EVEN Letters")

"word" is EVEN Letters
"in" is EVEN Letters
"this" is EVEN Letters
"sentence" is EVEN Letters
"that" is EVEN Letters
"an" is EVEN Letters
"even" is EVEN Letters
"number" is EVEN Letters
"of" is EVEN Letters

#### print integers from 1 to 100, for multiplies of 3 print "Fizz", For multiplies of 5 print "Buzz", for multiplies of both 3 and 5 print "FizzBuzz"

In [19]:
for num in range(1,101):
    if num%3 == 0 and num%5 == 0:
        print(f"{num} : FIZZBUZZ")
    elif num%3 == 0:
        print(f"{num} : FIZZ")
    elif num%5 == 0:
        print(f"{num} : BUZZ")
    else:
        print(num)

1
2
3 : FIZZ
4
5 : BUZZ
6 : FIZZ
7
8
9 : FIZZ
10 : BUZZ
11
12 : FIZZ
13
14
15 : FIZZBUZZ
16
17
18 : FIZZ
19
20 : BUZZ
21 : FIZZ
22
23
24 : FIZZ
25 : BUZZ
26
27 : FIZZ
28
29
30 : FIZZBUZZ
31
32
33 : FIZZ
34
35 : BUZZ
36 : FIZZ
37
38
39 : FIZZ
40 : BUZZ
41
42 : FIZZ
43
44
45 : FIZZBUZZ
46
47
48 : FIZZ
49
50 : BUZZ
51 : FIZZ
52
53
54 : FIZZ
55 : BUZZ
56
57 : FIZZ
58
59
60 : FIZZBUZZ
61
62
63 : FIZZ
64
65 : BUZZ
66 : FIZZ
67
68
69 : FIZZ
70 : BUZZ
71
72 : FIZZ
73
74
75 : FIZZBUZZ
76
77
78 : FIZZ
79
80 : BUZZ
81 : FIZZ
82
83
84 : FIZZ
85 : BUZZ
86
87 : FIZZ
88
89
90 : FIZZBUZZ
91
92
93 : FIZZ
94
95 : BUZZ
96 : FIZZ
97
98
99 : FIZZ
100 : BUZZ

#### use list comprehension to create a list of the first letters of every word in the string below

In [20]:
st = "Create a list of the first letters of every word in this string"

In [21]:
letter_list = [word[0] for word in st.split()]

In [22]:
letter_list

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Alternate characters of a string is upper case

In [1]:
def myfunc(string):
    l = ''
    i = 0
    while i <= len(string)-1:
        if i % 2 == 0:
            l = l+string[i].lower()
        else:
            l = l+string[i].upper()
        i+=1
    return l

In [2]:
myfunc("anthropomorphism")

'aNtHrOpOmOrPhIsM'