## Function Assignment

### Alternate character in a string is uppercase

In [5]:
def myfunc(string):
    l = ''
    i = 0
    while i <= len(string)-1:
        if i % 2 == 0:
            l = l+string[i].lower()
        else:
            l = l+string[i].upper()
        i+=1
    return l

In [6]:
myfunc("anthropomorphism")

'aNtHrOpOmOrPhIsM'

### LESSER OF TWO EVENS : A function to return lesser number if 2 numbers are even, but returns greater if one or both numbers are odd

In [15]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:  # Both are even
        return min(a,b)
    else:
        return max(a,b)

In [16]:
lesser_of_two_evens(2,4)

2

In [17]:
lesser_of_two_evens(2,5)

5

In [18]:
lesser_of_two_evens(7,3)

7

### ANIMAL CRACKERS : A function takes two-word string and returns True if both word begins with same letter

In [35]:
def animal_cracker(text):
    wordlist = text.lower().split()
    return wordlist[0][0].lower() == wordlist[1][0]

In [36]:
animal_cracker("Crazy Kangaroo")

False

In [37]:
animal_cracker("Lazy lion")

True

### MAKES TWENTY: Given two integers, return True if their sum is 20 or if one of them is 20, if not, return False

In [48]:
def makes_twenty(a,b):
    return a == 20 or b == 20 or a+b == 20

In [53]:
makes_twenty(20,10)

True

In [54]:
makes_twenty(10,10)

True

In [55]:
makes_twenty(1,2)

False

## LEVEL 1 PROBLEMS

### OLD MACDONALD : Write a function to capitalize the first and fourth letters of a name

In [71]:
def old_macdonald(name):
    return name[0].upper()+name[1:3]+name[3].upper()+name[4:]

In [75]:
old_macdonald("macdonald")

'MacDonald'

### MASTER YODA : Given a sentence, return a sentence with words reversed

In [90]:
def master_yoda(text):
    s = ''
    wordlist = text.split()
    wordlist.reverse()
#     for item in wordlist:
#         s = s+item+" "
#     return s
    return ' '.join(wordlist)

In [91]:
master_yoda("I am home")

'home am I'

### ALMOST THERE : Given an integer n, returns True if n is within 10 of either 100 or 200, i.e, 
### check if 100-n if <= 10 or 200-n <= 10

In [92]:
def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [96]:
almost_there(111)

False

In [97]:
almost_there(110)

True

In [98]:
almost_there(209)

True

## LEVEL 2 PROBLEMS

### Find 33: Given a list of integers, return True if the array contains a 3 next to 3 somewhere

In [135]:
def has_33(num_list):
    for i in range(0, len(num_list)-1):
#         if num_list[i] == 3 and num_list[i+1] == 3:
        if num_list[i:i+2] == [3,3]:
            return True
    return False

In [136]:
has_33([1,2,4,5,3,3,5,3])

True

In [137]:
has_33([1,2,3,3])

True

In [138]:
has_33([3,1,2,3,5,3,2])

False

### PAPER DOLL : Given a string, return a string where every character in the original are three characters

In [139]:
def paper_doll(string):
    final = ''
    for i in range(0,len(string)):
        final = final+string[i]*3
    return final

In [140]:
paper_doll("Hello")

'HHHeeellllllooo'

In [141]:
paper_doll("Mississippi")

'MMMiiissssssiiissssssiiippppppiii'

### BLACKJACK : Given 3 integers between 1 and 11, if their sum is less than equal to 21, return their sum, if there sum exceeds 21 and there is an eleven, reduce the total sum by 10. Finally, if the sum,(even after adjustment) exceeds 21, return BUST.

In [159]:
def blackjack(a,b,c):
    if a>0 and b>0 and c>0 and a<=11 and b<=11 and c<=11:
        if sum([a,b,c]) <= 21:
            return sum([a,b,c])
        elif sum([a,b,c]) <= 31 and 11 in [a,b,c]:
            return sum([a,b,c])-10
        else:
            return "BUST"
    else:
        print("Enter valid Numbers between 1 and 11")

In [160]:
blackjack(1,2,3)

6

In [161]:
blackjack(9,9,9)

'BUST'

In [167]:
blackjack(9,9,11)

19

### SUMMER OF '69 : Returns the sum of numbers in the array, except ignore the section of numbers sarting with a 6 and extending to the next 9 (every 6 will be followed by atleast one 9), Return 0 for no numbers

In [168]:
def summer_69(arr):
    res = 0
    for i in range(0,len(arr)):
        if arr[i] not in [6,7,8,9]:
            res += arr[i]
    return res

In [169]:
summer_69([1,3,5])

9

In [170]:
summer_69([4,5,6,7,8,9])

9

In [172]:
summer_69([2,1,6,9,11])

14

## CHALLENGING PROBLEM

### SPY GAME : Write a function that takes a list of integers and returns True if it contains 007 in order

In [179]:
def spy_game(num_list):
    code = [0,0,7,'x']
    
    for num in num_list:
        if num == code[0]:
            code.pop(0)
            
    return len(code) == 1

In [180]:
spy_game([1,2,4,0,0,7,5])

True

In [181]:
spy_game([1,0,2,4,0,5,7])

True

In [182]:
spy_game([1,7,2,0,4,5,0])

False

### COUNT PRIMES : A function that returns number of prime numbers that exists upto and including a given number
    0 and 1 as not prime
    # count_prime(100) -> 25

In [183]:
def count_prime(num):
    
    # Check for 0 or 1 input
    if num < 2:
        return 0
    
    # For 2 and greater number
    primes = [2]
    x = 3
    
    while x <= num:
        # check if x is prime
        for y in range(3,x,2):
            if x % y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [184]:
count_prime(10)

[2, 3, 5, 7]

4

In [185]:
count_prime(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25