## range(), enumerate(), zip(), in, min(), max(), random(), input()

In [1]:
mylist = [1,2,3,4,5]

In [3]:
for num in range(10):
    print(num, end="\t")

0	1	2	3	4	5	6	7	8	9

In [4]:
for num in range(2,10):
    print(num, end="\t")

2	3	4	5	6	7	8	9

In [5]:
for num in range(1,10,2):
    print(num, end='\t')

1	3	5	7	9

In [6]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [8]:
index = 0

for letter in "abcde":
    print('At index {} the letter is {}'.format(index, letter))
    index += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

### enumerate()

In [12]:
word = "abcde"

for item in enumerate(word):
    print(item)

print("*" * 10)

for index,letter in enumerate(word):
    print(f"{index}\t{letter}")

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
**********
0	a
1	b
2	c
3	d
4	e

### zip()

In [21]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a', 'b', 'c', 'd']
mylist3 = [100,200,300]

In [22]:
for item in zip(mylist1, mylist2, mylist3):  # it will zip the list upto the shortest list
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [23]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

### in

In [26]:
2 in [1,2,3]

True

In [25]:
'x' in ['x', 'z', 'y']

True

In [27]:
'a' in 'a world'

True

In [28]:
'mykey' in {"mykey":1234}

True

In [29]:
d = {"mykey":1234}
1234 in d.values()

True

### min(), max()

In [30]:
mylist = [10,20,30,40,80,100]

In [31]:
min(mylist)

10

In [32]:
max(mylist)

100

### random()

In [33]:
from random import shuffle

In [34]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [37]:
shuffle(mylist)

In [38]:
mylist

[8, 10, 6, 9, 4, 5, 1, 2, 7, 3]

In [39]:
from random import randint

In [40]:
randint(0,100)

18

In [41]:
randint(0,100)

67

In [42]:
num = randint(0,100)

In [43]:
num

44

### input()

In [44]:
input("Enter a number : ")

Enter a number : 10

'10'

In [45]:
num = input("Enter a number : ")

Enter a number : 10

In [46]:
num

'10'

In [47]:
type(num)

str

In [48]:
int(num)

10

In [49]:
type(num)

str

In [50]:
# OR Do this
number = int(input("Enter a number : "))

Enter a number : 10

In [51]:
number

10

In [52]:
type(number)

int